<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Operations</title>
    <style>
        #t0{padding-left:70px;margin-left: auto;margin-right: auto;}
    </style>
</head>
<body>
<form action="ops/" method="get">
    <table id="t0">
        <tr>
            <td colspan="2" style="text-align:center;"><h1>Operations</h1></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;"><h3 style="padding-bottom:20px;">Enter two numbers below</h3></td>
        </tr>
        <tr>
            <td  style="padding-bottom:10px;">First number:</td>
            <td  style="padding-bottom:10px;"><input type="number" name="num1" placeholder="Enter first number"></td>
        </tr>
        <tr>
            <td  style="padding-bottom:15px;">Second number:</td>
            <td  style="padding-bottom:15px;"><input type="number" name="num2" placeholder="Enter second number"></td>
        </tr>
        <tr>
            <td colspan="2" style="text-align:center;"><input type="submit"></td>
        </tr>
    </table>
</form>
</body>
</html>